<%= form_with(model: location, class: "flex gap-5") do |form| %>

  <div class="flex flex-col p-2">
    <%= form.label :name %>
    <%= form.text_field :name,
                    class:
                      "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex flex-col p-2">
    <%= form.label :expiry %>
    <%= form.number_field :expiry,
                      class:
                        "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.hidden_field :location, data: { form: { target: "location" } } %>

  <div class="inline">
    <%= form.submit class:
                  "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
