<div id="<%= dom_id location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= location.key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= location.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry:</strong>
    <%= location.expiry %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expires at:</strong>
    <%= location.expires_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= location.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client count:</strong>
    <%= location.client_count %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this location", location, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this location", edit_location_path(location), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
