<section
  data-controller="map"
  data-map-key-value="<%= @location.key %>"
  data-map-location-value="<%= @location.location %>"
  data-map-uuid-value="<%=  session[:uuid] %>"
  data-map-clients-value="<%= @location.clients.to_json %>"
  class="w-full h-screen relative"
>
  <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 z-50">
    <%= form_with(model: @client, url: [@location, @client], class: "flex flex-row gap-5 bg-gray-100 rounded shadow p-4") do |form| %>
      <div class="flex flex-col">
        <%= form.label :name %>
        <%= form.text_field :name,
                        class:
                          "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="flex flex-col">
        <%= form.label :color %>
        <%= form.text_field :color,
                        class:
                          "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <%= form.hidden_field :uuid %>
      <%= form.hidden_field :coordinates %>

      <%= form.submit "Share Location",
                  class:
                    "rounded-lg py-3 px-5 bg-white border-gray-500 inline-block font-medium cursor-pointer self-end" %>
    <% end %>
  </div>
</section>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <%= render @location %>

    <%= link_to "Edit this location",
    edit_location_path(@location),
    class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this location",
      location_path(@location),
      method: :delete,
      class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to locations",
    locations_path,
    class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
